<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="delivery_setting" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Delivery Step</label>
            <tab>sales</tab>
            <resource>AHT_Delivery::delivery_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delivery_comment" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Delivery Comment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delivery_day_off" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Day Off</label>
                    <source_model>AHT\DeliveryStep\Model\Config\Source\Day\Day</source_model>
                </field>
                <field id="delivery_date_off" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Date Off</label>
                    <frontend_model>AHT\DeliveryStep\Block\Adminhtml\System\Form\Field\DateOff</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
