<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="update_price_checkout_cart_product_add_after" instance="AHT\UpdatePrice\Observer\Cart\Cart"/>
    </event>
    <event name="sales_quote_item_qty_set_after">
        <observer name="update_price_checkout_cart_update_items_after" instance="AHT\UpdatePrice\Observer\Cart\Updatecart"/>
    </event>
</config>